.wrapperModal {
  background: rgba(0,0,0,0.7);
  position: fixed;
  z-index: 10;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  width: 85%;
  min-width: 1150px;
  max-width: 1920px;
  height: 80vh;
  background: black;
  padding: 20px;
  border-radius: 8px;
}

.scrollContainer {
  overflow-x: auto;
}

.hours {
  display: flex;
  width: calc(48 * 50px); // ou 2400px
  background: yellow;
}

.events {
  width: calc(48 * 50px); // mesma largura que .hours
  height: 50vh;
  position: relative;
  background: #222;
  margin-top: 10px;
}


.hour {
  width: 100%;
  text-align: center;
  border-right: 1px solid red;
  flex-shrink: 0;
}

.eventBox {
  background: purple;
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: move;
  user-select: none;
}

.resizeHandle {
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  cursor: ew-resize;
}

