@use "../../styles/mixins" as *;

.headerWrapper{
  width: 100%;
  height: 64px;
  padding: 0px 32px;
  position: absolute;
  top: 0;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;

  h4{
    @include font-bold-6;
    color: var(--tertiary-color);
  }
  img{
    cursor: pointer;
  }
}