@use "../../styles/mixins" as *;

.wrapperCreatePreset{
    width: 100% !important;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiary-color);

    .hestiaInfoWrapper{
        width: var(--page-wrapper);
        padding: var(--padding-wrap);
        height: 100%;

        h1{
            @include font-bold-8;
            color: var(--primary-color);
        }
    }
}