@use "../../styles/mixins" as *;

.wrapperCreatePreset{
    width: 100% !important;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiary-color);

    .hestiaInfoWrapper{
        width: var(--page-wrapper);
        padding: var(--padding-wrap);
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;

        h1{
            @include font-bold-8;
            color: var(--primary-color);
        }

        .wrapperInternForm{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        .wrapperForm{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 8px;

            h2{
                width: 100%;
                @include font-medium-6;
                color: var(--primary-color);
                text-align: left;
            }

            .wrapperThreeInputs{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 8px;
            }
        }
    }
}